
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

p {
    color: dimgray;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.half-width {
    margin: 0 5%;
}

.text-highlight {
    color: orange;
}

.half-width img{
    width: 100%;
}

.d-none {
    display: none;
}

.btn {
    text-decoration: none;
    background: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    margin: 10px 0 20px 0;
}

/* first section */
.top-banner {
    background-image: url('../images/top-banner.png');
    background-repeat: no-repeat;
    padding: 50px 0;
}

/* dream area */
.dream-area {
    background: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px 0;
}

/* experience area */
.experience-area {
    padding: 50px 0;
    background-color: #a5d5f8;
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.title h2 {
    text-align: center;
    line-height: 0.5rem;
}

.title div {
    width: 100px;
    height: 5px;
    background-color: orange;
    margin: 0 auto 50px auto;
}

.single-experience {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
    margin-bottom: 50px;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    background-color: lightgray;
    color: black;
    padding: 20px 0;
    margin: 0;
}

/* responsive design */
@media screen and (min-width: 950px){
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }
     
    section {
        height: 500px;
    }

    .half-width {
        float: left;
        width: 40%;
        margin: 0 0 0 6%;
    }

    .btn {
        margin: 10px 0 0 0;
    }
    
    .d-none {
        display: block;
    }

    .single-experience {
        padding: 0 0;
        height: 350px;
    }

    #full-stack {
        margin-bottom: 0;
    }
}