
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 650px;
}

.top-banner {
    background-image: url('../images/top-banner.png');
    background-repeat: no-repeat;
    padding-top: 40px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    color: dimgray;
}

.text-highlight {
    color: orange;
}

.half-width {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.btn {
    text-decoration: none;
    background: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}

.dream-area {
    background: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 40px;
}

.experience-area {
    padding-top: 40px;
    background-color: #a5d5f8;
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.header-align  {
    text-align: center;
    line-height: 0.5rem;
}

.underline {
    width: 100px;
    height: 5px;
    background-color: orange;
    margin: 0 auto 50px auto;
}

.single-experience {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    background-color: #fff;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    background-color: lightgray;
    color: black;
    padding: 20px 0;
    margin: 0;
}